body {
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #333;
    color: white;
  }

  h1 {
    text-transform: uppercase;
    color: #bada55;
    font-size: 2.4rem;
    font-weight: lighter;
  }
  
  h2 {
    color: #bada55;
    font-size: 1.8rem;
    font-weight: lighter;
  }
  h3 {
    font-size: 1.4rem;
  }
  a {
    font-size: 1.0rem;
    color: white;
  }
  a:visited {
    color: lightgrey;
  }

  .toolbarwrapper ul {
    position:fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .toolbarwrapper li {
    float: left;
  }
  
  .toolbarwrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .toolbarwrapper li a:hover {
    background-color: #BADA55;
  }

  .toolbarwrapper .active {
    background-color: #111;
  }

  .mainwrapper {
    margin-top: 60px;
  }

  .bannerwrapper {
      max-width: 960px;
      display: grid;
      grid-template-columns: 200px auto;
      column-gap: 2%;
      margin: 2em auto -1em;

      text-align: center;
  }

  .blogwrapper {
    max-width: 960px;
    padding: 20px;
    margin: 2em auto;
  }

  .blog {
    padding: 1em;
    margin-top: 1em;
    text-align: left;  
    background-color: #575757;
    min-width: 960px;
  }

  .columnwrapper {
    max-width: 960px;
    padding: 20px;
    margin: 2em auto;
  }

  .col {
    padding-top: 2em;
    text-align: center;  
    background-color: #575757;
    min-width: 320px;
  }

  .col ul {
    list-style: none;
    padding-inline-start: 0px;
  }

  .col li {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .profilepic {
        z-index: -1;
        float: left;
        display: block;
        background-image: url("../img/profile.jpg");
        border-radius: 200px;
        border: 3px solid #BADA55;
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        float: left;
        position: relative;
    }    
    
  .fb-wrapper {
    position: fixed;
    top: 10px;
    left: 90%;
  } 

  @media (min-width: 1000px) {
    .columnwrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 2%;
    }
  }